<section class="authorization">
  <h2 class="visually-hidden">Авторизация</h2>
  <form class="authorization__form form" action="#" method="post">
    <div class="authorization__input-wrapper form__input-wrapper">
      <div class="form__input-section">
        <input class="authorization__input authorization__input--login form__input" type="text" name="email" placeholder="email">
        <svg class="form__input-icon" width="19" height="18">
          <use xlink:href="#icon-input-user"></use>
        </svg>
        <label class="visually-hidden">Email</label>
      </div>
      <span class="form__error-label form__error-label--login">Неверный email</span>
    </div>
    <div class="authorization__input-wrapper form__input-wrapper">
      <div class="form__input-section">
        <input class="authorization__input authorization__input--password form__input" type="password" name="password" placeholder="Пароль">
        <svg class="form__input-icon" width="16" height="20">
          <use xlink:href="#icon-input-password"></use>
        </svg>
        <label class="visually-hidden">Пароль</label>
      </div>
      <span class="form__error-label">Пароли не совпадают</span>
    </div>
    <button class="authorization__submit button button--main" type="submit">Войти</button>
  </form>
</section>

