.post-photo {
  h2 {
    padding: 0 40px 26px;
  }

  .post-photo__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: -1px;
    margin-left: -1px;
  }
}
